:host {
  display: block;
  position: relative;
  width: max-content;
  height: max-content;
}

component-body {
  display: flex;
  height: 100%;
  position: relative;
  width: max-content;
  height: max-content;
}

c-form {
  margin: auto;
}

c-form > h1 {
  margin-bottom: 16px;
}

c-form > * {
  margin: 10px 0;
  width: 300px;
  max-width: 100%;
}

c-form > *:not(c-load-button) {
  
}

/* todo:
  Dont button --text color
*/

c-form > c-load-button {
  --background: var(--primary-theme);
  --text: var(--plain-background); /* This doesnt work... Icon is black and load prog probably too */
  color: rgb(var(--plain-background));
}