:host {
  display: block;
  position: relative;
  width: max-content;
  height: max-content;
}

component-body {
  display: flex;
  height: 100%;
  position: relative;
  width: max-content;
  height: max-content;
}

c-form {
  margin: auto;
  display: flex;
  width: max-content;
  height: max-content;
  flex-direction: column;
}

c-form > h1 {
  margin-bottom: 16px;
  margin-top: 10px;
}

c-form > * {
  margin-top: 10px;
  width: 300px;
  max-width: 100%;
}

c-form > *:first-child {
  margin-top: 0;
}

c-form > .pw1 {
  margin-bottom: 10px;
}

c-form > .pw2 {
  margin-top: 0;
}

btn-group {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 15px;
}

btn-group > * {
  width: max-content;
}


c-form c-load-button {
  --background: var(--primary-theme);
  --text: var(--plain-background);
}