<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 53 53">
  <path stroke="var(--color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25" d="M4 26.5a22.5 22.5 0 1 0 45 0 22.5 22.5 0 0 0-45 0ZM26.5 19h.025"/>
  <path stroke="var(--color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25" d="M24 26.5h2.5v10H29"/>
</svg>
