<svg xmlns="http://www.w3.org/2000/svg" fill="none">
  <path fill="#000" d="M91.234 7.471V7.46c2.442 26.831 16.459 40.792 29.847 54.112 13.32 13.253 26.01 25.887 26.01 49.928 0 39.375-33.75 67.5-73.125 67.5S.863 151.01.863 111.5c0-14.603 6.03-28.8 16.032-36.968 4.23-3.465 9.697 0 11.643 5.108 5.625 14.839 18.237 14.074 22.95 9.36 3.173-3.172 3.837-9.124-.033-16.875C32.813 34.854 63.132 7.437 82.65.642c4.387-1.54 8.167 2.183 8.584 6.83Z"/>
</svg>
