:host {
  position: relative;
  display: block;
}

:host(:not(.disabled)) {
  cursor: text;
}


move-me {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

component-body {
  position: relative;
}

placeholder-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  pointer-events: none;
  border-radius: inherit;
  overflow: hidden;
  z-index: 3;
  pointer-events: none;
}

placeholder-text {
  font-size: 14px;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
}



#editAble {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  background: transparent;
  font-size: 14px;
  font-family: inherit;
  z-index: 2;
  color: inherit;
}

#editAble {
  padding: 15px 17px;
  padding-top: 23px; /* a */
  padding-bottom: 8px;
}

placeholder-text {
  padding: 15px 17px;
  padding-top: 15px; /* a - 10. Was a-9 prev??? But would be off center */
  padding-bottom: 0;
}


:host(.showInvalidation) {
  --background: 255, 210, 210;
  --border: 255, 0, 0;
}

:host(.showInvalidation) move-me {
  box-shadow: inset 0 0 0px 3px rgb(230, 0, 0);
  color: rgb(230, 0, 0);
}
