<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 58 50">
  <path fill="var(--color)" d="M28.85 0a7.475 7.475 0 0 1 6.125 3.197l.27.41 21.078 35.185a7.472 7.472 0 0 1-5.916 11.185l-.5.023H7.767a7.475 7.475 0 0 1-6.62-10.77l.253-.472L22.462 3.595A7.473 7.473 0 0 1 28.85 0Zm.175 35-.317.017a2.5 2.5 0 0 0 0 4.965L29 40l.317-.017a2.5 2.5 0 0 0 0-4.965L29.025 35ZM29 15a2.5 2.5 0 0 0-2.483 2.207l-.017.293v10l.017.293a2.5 2.5 0 0 0 4.966 0l.017-.293v-10l-.017-.293A2.5 2.5 0 0 0 29 15Z"/>
</svg>
