<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 46 34">
  <path stroke="var(--color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="7.5" d="M4.5 17 17 29.5l25-25"/>
</svg>
