overflowing-container(name="overflow")
  slot
scroll-fade.right.x
scroll-fade.left.x
scroll-fade.top.y
scroll-fade.bot.y

c-ripple-button.hint(side="right" dir="x")
  chevron-container
    c-chevron-icon
c-ripple-button.hint(side="left" dir="x")
  chevron-container
    c-chevron-icon
c-ripple-button.hint(side="top" dir="y")
  chevron-container
    c-chevron-icon
c-ripple-button.hint(side="bot" dir="y")
  chevron-container
    c-chevron-icon
    