overflowing-container(name="overflow")
  slot
scroll-fade.right.x
scroll-fade.left.x
scroll-fade.top.y
scroll-fade.bot.y

c-ripple-button.hint.right.x
  chevron-container
    c-chevron-icon
c-ripple-button.hint.left.x
  chevron-container
    c-chevron-icon
c-ripple-button.hint.top.y
  chevron-container
    c-chevron-icon
c-ripple-button.hint.bot.y
  chevron-container
    c-chevron-icon
    