<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 54 54">
  <path stroke="var(--color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="7.5" d="M4.5 27a22.5 22.5 0 1 0 45 0 22.5 22.5 0 0 0-45 0ZM27 17v10m0 10h.025"/>
</svg>
