<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 38 38">
  <path stroke="var(--color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25" d="M34 4 4 34M4 4l30 30"/>
</svg>
