left-gradient, right-gradient {
  display: block;
  width: 20px;
  height: calc(100% - 6px); /* 3px offset from bot and top because of inset border for error state */
  top: 3px;
  position: absolute;
  opacity: 0;
  transition: .2s;
}

left-gradient {
  left: 17px;
  background: linear-gradient(270deg, rgba(var(--background), 0), rgba(var(--background), 1));
}

right-gradient {
  right: 17px;
  background: linear-gradient(90deg, rgba(var(--background), 0), rgba(var(--background), 1));
}

component-body:not(.scrollStart) left-gradient, component-body:not(.scrollEnd) right-gradient {
  opacity: 1;
}

input {
  overflow-x: "auto";
  overflow-y: hidden;
}
