<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 58 34">
  <path stroke="var(--color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="7.5" d="M16.5 17 29 29.5l25-25M4 17l12.5 12.5M29 17 41.5 4.5"/>
</svg>
